.*
!.gitignore

/build/
/vendor/

*.g.dart
*.iml

/android/gradle-wrapper.jar
/android/.gradle
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties

/fastlane/Appfile
/fastlane/README.md
/fastlane/report.xml
